*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html,body{height:100%}
html {background-size: cover;background-repeat: no-repeat;background-attachment: fixed;}
.wufoo {font: 100%/1.5em "Helvetia", "Arial", sans-serif;color: #ddd;-webkit-font-smoothing: antialiased;background: #231f20;  padding: 22px 0px!important;}
body {font-size:inherit;margin:0;height: 100%;}
a, b {color: #fff7ed;    font-weight: 700;}
a, form span.req{color: #00b459!important;}
b {text-transform: uppercase;}
a:hover {color:#fff;}
#container{margin: 0 auto;max-width: 680px;border:none;position: relative;top: 100px;}
#container, html.embed {background-color: transparent;}
#logo{display: none;}
.country {position: relative; left: 5%;top: 5px;}
form.wufoo {margin:0;}
.wufoo .info h2 {line-height: 1.1em;color: #fff7ed;font-weight: bold;margin: 0;margin-bottom: 1em;font-size: 2.2em;letter-spacing: -1px;}
.wufoo .section h3 {    color: #e20712!important;text-transform: uppercase;font-weight: bold;font-size: 1em;margin-bottom: 1em;}
.wufoo .section div {font-size: inherit;}
.wufoo input.text {border: 0;outline: 0;margin: 0;background: #231f20;padding: 5px 0;width: 100%;color: #fff;border-bottom: 1px solid #666;}
.wufoo input.btTxt {text-decoration: none;color: #000!important;background: #e20712!important;padding: 10px 30px;margin: 0 2px 2px 0;border: none;font-size: 100%;font-family: inherit;}
.wufoo textarea.textarea{background: transparent;border-left: none;border-right: none;border-top: none;border-bottom: 1px solid #666;min-width: 100%;max-width: 150%;}
.wufoo .info, .wufoo .paging-context, .wufoo .section h3, form li.section h3 {border: none;}
.wufoo label.desc, .wufoo legend.desc {color: #A3A3A3!important;}
.cont-bg {background: #2e292a;border-radius: 3px;margin-top: 20px!important;}
.state {display: none;}
.info{padding: 0;margin: 0;}
form li{    padding: 2px 0 8px;}
.full.addr2 {display: none;}
body.embed{overflow:auto !important}
header h2 {
    display: none;
}
.desc {
    position: relative;
}

.wufoo .section div, .wufoo .info div, .wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {color: #DDD}
.required .desc:before {
    content: '*';
    display: block;
    color: red;
    height: 10px;
    width: 10px;
    z-index: 999999;
    display: inline-block;
    right: 0;
    position: absolute;
}
@media screen and (max-width: 680px) {
iframe{height: 8000px;}
#container {top: 0;}
.leftLabel .desc {float: none;width: 100%;}
.wufoo input.text {width: 150%;}
.wufoo .info h2{    font-size: 1.4rem;}
}  